#userAction {
    width: 100%;
    margin-top: auto;
}

#userInfo {
    width: 100%;
}

#userInfo > p {
    margin: 0;
    padding: 0;
    width: fit-content;
}

#userInfo > p:first-child {
    font-size: 0.8rem;
}

#userInfo > p:last-child {
    font-size: 0.6rem;
}

#profileImg {
    max-height: 30px;
}