.btnAdd {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #139547;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 300ms ease-in-out;
}

.btnAdd:hover {
    opacity: 0.8;
}