#user-action {
    width: 100%;
    margin-top: auto;
}

.nav-btn #user-info {
    width: 100%;
}

.nav-btn #user-info > p {
    margin: 0;
    padding: 0;
    width: fit-content;
}

.nav-btn #user-info > p:first-child {
    font-size: 0.8rem;
}

.nav-btn #user-info > p:last-child {
    font-size: 0.6rem;
}